body {
  /* 여백 제거 */
  margin: 0;
  padding: 0;
  background-color: rgb(234, 42, 67);
}

header {
  /* 화면 상단에 고정 */
  position: sticky;
  top: 0;
  background-color: white;
}

main {
  background-color: white;

  /* 요소 가운데 정렬 */
  margin: auto;
  max-width: 0 1024px;
  min-height: 100vh;
}

/* 화면 너비가 1024px 이하일 때 이미지 너비 조절 */
@media (max-width: 1024px) {
  main {
    width: 100%;
  }
}

/* 화면 너비가 1024px 이상일 때 이미지 너비 조절 */
@media (min-width: 1024px) {
  main {
    width: 1024px;
  }
}

.top {
  height: 50px;
  width: 100%;
}

.menu {
  height: 70px;
  background-color: red;
}

.stream {
  height: 60px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mickey {
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("/images/r_mickeymousefranchise_mickeymouse_ddt-16970_f7867c2d.jpeg");
  background-size: cover; /* 이미지를 화면에 맞춰 배경 크기로 조정*/
  background-position: center; /* 이미지를 가운데 정렬 */
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .mickey {
    width: 1024px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .mickey {
    min-height: 15vh; /* 더 큰 높이로 조절 */
  }
}

video {
  width: 100%;
  max-width: 1024;
}

footer {
  color: white;
  text-align: center;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* 축을 세로로 변경하여, 수평으로 나열 및 정렬 */
  flex-direction: column;
}
