@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  /* 여백 제거 */
  /* margin: 0;
  padding: 0; */

  background-color: rgb(234, 42, 67);
  font-family: "Black Han Sans", cursive;
  /* overflow-x: hidden; */
}

h2 {
  margin: 30px;
}

header {
  /* 화면 상단에 고정 */
  width: 100vw;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

/* 화면의 너비가 761px보다 작을 때 */
@media (max-width: 761px) {
  .disney {
    display: none;
  }
}

.top {
  display: grid;
  height: 65px;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
}

.top1,
.top2,
.top3,
.top4,
.top5,
.top6,
.top7 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_image {
  width: 40%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.menu {
  height: 70px;
  background-color: darkred;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: white;
}

.menu_image {
  width: 60%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.menu1,
.menu2,
.menu3,
.menu4,
.menu5,
.menu6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: white;

  /* 요소 가운데 정렬 */
  margin: 0 auto;
  min-height: 100vh;
}

/* 화면 너비가 1024px 이하일 때 이미지 너비 조절 */
@media (max-width: 1024px) {
  main {
    width: 100%;
  }
}

/* 화면 너비가 1024px 이상일 때 이미지 너비 조절 */
@media (min-width: 1024px) {
  main {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.stream {
  height: 60px;
  background-color: darkblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mickey {
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("/images/SkyMickey.jpeg");
  background-size: cover; /* 이미지를 화면에 맞춰 배경 크기로 조정*/
  background-position: center; /* 이미지를 가운데 정렬 */
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .mickey {
    width: 1024px;
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .mickey {
    min-height: 15vh; /* 더 큰 높이로 조절 */
  }
}

video {
  width: 100%;
  max-width: 1024;
}

.vi {
  max-width: 1024px;
  height: 50px;
  background-color: rgb(244, 244, 244);

  /* border은 겹치면 선이 두꺼워지기 때문에 이를 방지하기 위해 그림자 속성 사용 */
  box-shadow: 0px 0px 0px 1px rgb(224, 224, 224);
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.vi:hover {
  background-color: white;
}

/* ========== More Video ========== */
.more_video {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 3%;
}

/* 화면을 벗어나는 요소를 숨기기 위해 설정 */
.more_video_slider {
  width: 100%;
  max-width: 1024px;

  overflow: hidden;
}

.more_video_list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);

  /* 4~6 번째 그리드 박스를 안보이게 설정 */
  /* grid-template-columns: repeat(3, 1fr) 0fr 0fr 0fr; */

  gap: 10px;
  z-index: 4;

  /* 그리드를항상 한 줄에 길게 배치 */
  grid-auto-flow: column;

  transition: transform 0.5s ease;
}

.play_box {
  width: 32.7vh;
  height: 25vh;
  min-width: 200px;

  /* 재생 버튼 가운데 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.material-symbols-outlined {
  color: rgba(120, 120, 120, 0.5);
  z-index: 2;
}

.material-symbols-outlined:hover {
  color: white;
}

.play_box_1 {
  background-image: url(/images/MoreVideo_1.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 함 */
  z-index: 1;
}

.play_box_2 {
  background-image: url(/images/MoreVideo_2.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.play_box_3 {
  background-image: url(/images/MoreVideo_3.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.play_box_4 {
  background-image: url(/images/MoreVideo_4.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.play_box_5 {
  background-image: url(/images/MoreVideo_5.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.play_box_6 {
  background-image: url(/images/MoreVideo_6.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.more_video_prev_button,
.more_video_next_button {
  background-color: white;
  border: 0px;
  font-size: 35pt;
  color: rgb(180, 180, 180);
  font-weight: bold;

  z-index: 5;
}

.more_video_prev_button:hover,
.more_video_next_button:hover {
  color: rgb(100, 100, 100);
  font-weight: bolder;
}

.more_video_prev_button {
  position: absolute;
  top: 50%; /* 아래로 10px만큼 이동 */
  left: 0; /* 왼쪽 정렬 (선택사항) */
  transform: translateY(-50%);
}

.more_video_next_button {
  position: absolute;
  top: 50%; /* 아래로 10px만큼 이동 */
  right: 0; /* 왼쪽 정렬 (선택사항) */
  transform: translateY(-50%);
}

/* ========== Gallery ========== */
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.gallery_slide {
  width: 100%;
  max-width: 1024px;
  overflow: hidden;
}

.gallery_list {
  z-index: 1;
  display: grid;
  width: 1200%;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: column;
  gap: 10px;

  transition: transform 0.5s ease;
}

.gallery_element {
  margin: 0 auto;

  width: 100%;
  padding-top: 50%;
  background-color: black;

  /* 이미지가 div에 맞게 비율을 유지하면서 보이게 */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  border: 2px solid black;
  border-radius: 10px;

  z-index: 1;
}

.gallery_element:nth-child(1) {
  background-image: url("/images/gallery_1.jpeg");
}

.gallery_element:nth-child(2) {
  background-image: url("/images/gallery_2.jpeg");
}

.gallery_element:nth-child(3) {
  background-image: url("/images/gallery_3.jpeg");
}

.gallery_element:nth-child(4) {
  background-image: url("/images/gallery_4.jpeg");
}

.gallery_element:nth-child(5) {
  background-image: url("/images/gallery_5.jpeg");
}

.gallery_element:nth-child(6) {
  background-image: url("/images/gallery_6.jpeg");
}

.gallery_element:nth-child(7) {
  background-image: url("/images/gallery_7.jpeg");
}

.gallery_element:nth-child(8) {
  background-image: url("/images/gallery_8.jpeg");
}

.gallery_element:nth-child(9) {
  background-image: url("/images/gallery_9.jpeg");
}

.gallery_element:nth-child(10) {
  background-image: url("/images/gallery_10.jpeg");
}

.gallery_element:nth-child(11) {
  background-image: url("/images/gallery_11.jpeg");
}

.gallery_element:nth-child(12) {
  background-image: url("/images/gallery_12.jpeg");
}

.gallery_prev_button,
.gallery_next_button {
  font-size: 35pt;
  z-index: 2;
  background: none;
  color: rgb(220, 220, 220);
  font-weight: bold;
  border: none;
}

.gallery_prev_button:hover,
.gallery_next_button:hover {
  color: rgb(100, 100, 100);
  font-weight: bolder;
}

.gallery_prev_button {
  position: relative;
  right: -35px;
}

.gallery_next_button {
  position: relative;
  right: 40px;
}

/* ========== Shop ========== */
.shop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop_slider {
  width: 100%;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.shop_gallery {
  position: relative;
  right: -25px;
  width: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.shop_img {
  width: 25%;

  /* 비율 유지를 위해 */
  height: auto;
  border: 1px solid rgb(224, 224, 224);
  margin: 32px;

  z-index: 1;
}

.shop_img:hover {
  box-shadow: 4px 4px 10px 1px grey;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;

  /* 요소를 자체의 높이의 50% 만큼 위로 이동 */
  transform: translateY(-50%);

  background: none;
  border: none;
  font-size: 40px;
  font-weight: bold;
  color: rgb(180, 180, 180);

  z-index: 2;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 25px;
}

.prev-button:hover,
.next-button:hover {
  text-shadow: 2px 2px 4px gray;
  background-color: rgba(224, 224, 224, 0.5);
}

/* ========== Mickey & Frieds ========== */
.mickey_friends {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.character_box {
  width: 110px;
  height: 150px;
  margin: 20px;
  border-radius: 10px;

  position: relative;
  /* flex-direction: column; 내부 요소를 세로로 배치. */

  display: flex;
  justify-content: center;
  text-align: center;
}

.character_box:hover {
  cursor: pointer;
  width: 150px;
  box-shadow: 10px 5px 20px 1px black;
}

.character {
  border-radius: 10px;
  width: 120%;
  object-fit: none;
}

.character_text {
  color: white;
  text-shadow: 2px 2px 0px black;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.character_text:hover {
  text-shadow: 2px 4px 3px black;
}

/*========== footer ========== */

footer {
  background-color: darkred;

  color: white;
  text-align: center;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* 축을 세로로 변경하여, 수평으로 나열 및 정렬 */
  flex-direction: column;

  z-index: 5;
}
